body {
  background-color: rgb(48, 47, 47);
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#info {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#foto_jog {
  font-size: 2rem;
  margin-right: 1rem;
}

#detalhes {
  margin-top: 2rem;
  text-align: left;
  padding-left: 20px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  #info {
    width: 100%;
  }
  #foto_jog {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  #detalhes {
    margin-top: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  #info {
    width: 80%;
  }
}
